In [17]:
import pandas as pd
stock_abc = pd.DataFrame({"close" : [11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.14, 13.37, 12.99]})

stock_abc["Shift 1"] = stock_abc.shift(5)
print(stock_abc)
weekly_raise = (stock_abc-stock_abc.shift(5))/stock_abc.shift(5)
weekkly_raise = pd.DataFrame(weekly_raise)
weekly_raise.head(6)

   close  Shift 1
0  11.25      NaN
1  11.98      NaN
2  10.74      NaN
3  11.16      NaN
4  12.35      NaN
5  12.87    11.25
6  13.03    11.98
7  13.14    10.74
8  13.37    11.16
9  12.99    12.35

   close  Shift 1
0    NaN      NaN
1    NaN      NaN
2    NaN      NaN
3    NaN      NaN
4    NaN      NaN
5  0.144      NaN